<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>
 <strong><h1 style="font-size: 150%;font-style: italic;">Hi My name is puneet singh, Below is the information you can contanct me</strong></h1>
 <br><p>Feel free to contact me at +4373316355/91puneetsingh@gmail.com</p>
<br>

<br>
<strong>
 <p>Add your contact details:</p>
 <form>
     Name:<br> <input type="text" name="name">
    <br>
    Email:<br> <input type="text" name="Email">
    <br>
    Phone:<br> <input type="number" name="Phone">
 </form>
 <button> Submit Info </button>

 <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</a>
</strong>
  <br><br><br>
  <%- include partials/footer.ejs %> 
  <%- include partials/bottom_nav.ejs %>