<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<h3>Projects</h3>
<h3>Project 1 : Home Service Scheduling system</h3>
<img valign="center" src="oip.png" alt="" width="350" height="250">

<p> Home Service shceduling system is project in which a customer genrally make a request for home services like,
    Plumber services, AC repair services, Carpenter services and many more. So this project was done in software 
system design course in which we perpared all the documentation about the requirements and define various use case and dataflow diagrams </p>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>