<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<img valign="center"src="photo.jpg" alt="" width="300" height="335">

  <strong> 
      <h1 style="font-size:200% ;color:DodgerBlue;"
      

      >Hey. whats up? hello!</h1>
    </strong>
    <p>Hi my name is Puneet Singh. i have completed my graduation in B.tech Computer Science 
    and now i am doing Advance diploma in Software engineering technology from centennial college. 
     I wish to pursue my carrer in IT field as Software developer.
    I have great Commuication skills beacuse i have worked in IELTS Institute. Where 
    I Facilitated classes of 50+ students virtually, providing instruction and coaching for IELTS test preparation 
</p>
<strong><h1 style="font-size: 150%;">If you want to see my resume click here <td><a href="Puneet singh Resume.pdf">Click Here </a></td></h1></strong> 
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>