<%- include partials/header.ejs %> 
 <%- include partials/main_nav.ejs %>
 <h2>Service Details</h2><br>
 <h3>Service 1 : General Programming</h3>
 <img valign="center" src="General.jpg" alt="" width="250" height="250">
 <br>
 <br>
 <p>General programming is the knowldege of the basics of programming languages such as, JAVA, C#, Python
     And many more. Also I have created small applications in these languages
 </p>
 <h3>Service 2 : Mobile Application </h3>
 <img valign="center" src="android.png" alt="" width="350" height="250">
 <br>
 <br>
 <p>In mobile application , we built applications for the mobiel in anroid or for ios. I know how to 
     make an application for android using android studio artic fox version.</p>
     <h3>Service 3 : SQL Language </h3> 
     <img valign="center" src="image.png" alt="" width="250" height="250">
     <br>
     <br>
     <p>SQL (Structured Query Language) is a programming language designed for managing data in a relational database. It's been around since the 1970s and is the most common method of accessing data in databases today. SQL has a variety of
          functions that allow its users to read, manipulate, and change data.</p>

  
 <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact me</a>
  <br><br><br>
  <%- include partials/footer.ejs %> 
  <%- include partials/bottom_nav.ejs %>

  